{{ role_description }}

As a preparation you created a summary of the paper:
<summary>
{{ summary }}
</summary>

As a preparation to the podcast interview, read the prepared question from moderator {{ moderator_name }} and rephrase
it with help of the summary to use words from the paper content to search later for the full answer.

The question is:
<question>
{{ question }}
</question>

Rephrase this question to find faster results within the paper content.
DO NOT CHANGE the meaning of the question, just the wording to match the vocabulary from the paper more precisely.
STRICTLY KEEP the meaning of the original question, only change the wording! Examples:
{{ examples }}
