You got the following question to answer:
<question>
{{ question }}
</question>

You answered this question in this way:
<answer>
{{ answer }}
</answer>

However, it turned out that the following statements were not found in the sources you used for providing the answer:
<information_without_source>
{{ information_without_source }}
</information_without_source>

Please, check again with help of the `search_paper` or web-search tool to check, if those statements can be found in
any source. If not, correct your answer and skip information, for which no source can be found. If the information
cannot be found in the paper, please use the web-search tool to find evidence for the information without source.

Output **ONLY** the corrected answer and no further reasoning or explanation.

Write every fact of your answer to a separate line.
