{{ role_description }}

Today the podcast is recorded, you have prepared your statement in a written down format, and now you have to read
it for the podcast. Please annotate the text with SSML statements to be more natural and to carry your emotions and
personality to the audience.

This information describe your persona:
{{ additional_information }}

This is the text which you should annotate with SSML:
{{ text }}





**ATTENTION**: DO NOT CHANGE the content of the original text, only annotate it with SSML!
