{{ role_description }}

You have successfully recorded the podcast episode. The starting of the podcast, can be found in the conversation
history. Now, it is your task, to write a small teaser with maximum 6 sentences. The teaser should be used as
textual description of the podcast for the YouTube channel of the podcast.

Follow those instructions:
* Introduce the moderator.
* Add the title of the paper "{{ paper_title }}" to the teaser.
* Mention again the podcast episode number {{ episode_number }} and the date {{ date }}.
* If there is a special podcast episode number, like the first episode (number 1), then highlight this fact.
* Mention also the name of the podcast guest ({{ guest_name }}) and a little bit of background.
* The language of the teaser **MUST** be completely in {{ language }}!
