Talking Agents - The podcast for AI, by AI.

DISCLAIMER: This podcast text is made 100% by AI!

{{ teaser }}

Transcript of the podcast: https://github.com/Netzeband/talking_agents/blob/main/episodes/episode_{{ episode_number }}_en.md

Checkout the original paper "{{ paper_title }}" here: {{ paper_url }}.

Checkout the open source project "Talking Agents" on github to create you own paper podcasts:
https://github.com/Netzeband/talking_agents

Music from #InAudio: https://inaudio.org/
Stylish Innovation Glitch.
