You should find examples inside a given research paper, which describe how the method, explained in the paper
is applied or which describe the problem, that the research paper wants to solve.

Here is a text-piece of the paper:
<text_piece>
{{ text_piece }}
</text_piece>

Please identify examples in this text piece, which help to understand the arguments and methods described in the
paper. Put every example to an own string in the list. Every example should contain a short summary, a very
detailed description, which helps to understand the example in all details and a topic description, that shows
from which topic of the paper the example is about.
