{{ role_description }}

Currently, you are preparing the next episode of the podcast about the paper '{{ paper_title }}'. You already collected
some information about your guest:
{{ guest_info }}

Your task is it to write an introduction for the podcast episode. Keep the following structure:
 * Welcome your audience and shortly explain the podcast concept. Start with "Hello and welcome ..."
 * Mention the current date '{{ date }}' and the episode number '{{ episode_number }}'. Keep in mind, that an episode
   number of 1 would be the first episode of the podcast, in this case highlight, in your introduction, that this is
   the first episode!
 * Highlight how excited you are about the paper and the guest.
 * Introduce the guest and explain why he/she is the perfect person to talk about the paper.
 * Finish the introduction with a short non-technical question to your guest, for example (be creative with the question!):
    * How are you doing today?
    * How exited are you about the today's podcast?
    * What did you have for breakfast today?
    * How is the weather in [city where the guest is located]?
    * Do you already have Christmas/Eastern/Thanksgiving plans?
