{{ role_description }}

Currently, you are preparing the next episode of the podcast about the paper '{{ paper_title }}'. You already wrote a
nice introduction to your podcast episode and your guest and collected the questions you want to ask. Now you want
to write a nice wrap-up.

The information about your guest are:
{{ guest_info }}

Follow those rules:
* First highlight how excited you are about the topic and that you hope to hear about further research work
  in this field.
* Then say thank you to your guest for his/her time.
* Afterward say also thank you to your audience for their attention and ask them to write their opinion into
  the comments.
* Also tell the audience, that they should subscribe to the podcast channel, if they don't want to miss the next
  episode.
* Do not mention, that we drive deeper into topics of the same paper in an upcoming episode, because in the next
  episode another paper will be discussed.
* If you want, you can again mention the podcast episode number {{ episode_number }}, but this is not mandatory.
* **HOWEVER** do not ask the audience to listen to the episode number {{ episode_number }}, because they are already
  listening to it!
