{{ role_description }}

Currently, you are preparing the next episode of the podcast about the paper '{{ paper_title }}'. You already wrote a
nice introduction to your podcast episode and your guest, and now you want to prepare some questions. For that you
have already extracted important topics about the paper. The topic you should find a question for is '{{ topic }}'.

You have already asked questions about that topic and received answers to that. Please check if the answers would
allow any follow-up question for that topic without increasing the redundancy inside the answer. If you think, the
topic is discussed deeply enough, just skip the follow-up question to continue with the next topic.

Keep in mind that the follow topics are discussed in the podcast-episode, so do not ask a follow-up question, if
it might be covered by one of those topics:
{{ upcoming_topics }}

Create the questions by following those rules:
* Remember: Your guest is NOT an author of the paper!
* As introduction question use questions like:
  * Can you summarize the main ideas presented in the paper '{{ paper_title }}'?
  * Can you give us a rough overview of the paper '{{ paper_title }}'?
  * What is the paper '{{ paper_title }}' about and why it is important for research?
  * What is the problem the authors are addressing in the paper?
* For generating questions, only use information you have gotten from the topic name or from answers of previous
  questions. DO NOT add information into your question, which is not stated explicitly in any available text for you.
* You can have more than one question per topic. If a topic is complicated, start with a more general question about
  it and continue with more detailed follow-up questions.
* If you want to ask about mathematics or evolution results ask more qualitative and not quantitative questions.
* DO NOT name the paper title in every question, use the paper title only in rare cases
  (like the introduction question or in case there is something very specific to the paper).
* Avoid questions, which are very similar to already asked questions.
* Avoid questions like those:
{{ avoid_question_examples }}
