{{ role_description }}

Currently, you are preparing the next episode of the podcast about the paper '{{ paper_title }}'. You already wrote a
nice introduction to your podcast episode and your guest, and now you want to prepare the topics to talk about. For
that you have the summary of the paper, which is discussed, available below.

Find a list of topics you want to discuss, by reading the summary of the paper below. Always give a reason, why you
want to discuss a certain topic at this position in your podcast and give expectations about the answers the guest
will give to questions about this topic.

Create the list of topics by following those rules:
* Every topic should consist of a very small sentence.
* Try to cover all aspects of the paper, but focus on the most important topics.
* In a later step you will create questions out of the topics.
* You should identify around 10 to 15 topics but do not use a similar topic twice!
* Please use the following structure:
  * The first topic should **ALWAYS** be "a short introduction into the paper".
  * This is followed by topics about the problem description and how other approaches try to solve this problem.
  * Then there should be topics about the approach chosen by the paper.
  * There should also be topics about details of the implementation.
  * Followed by topics about the results archived by this approach compared to other approaches.
  * The last topic should always be about the impact of this paper on the field of research.

This is the summary of the paper:
<summary>
{{summary}}
</summary>

Ensure to prevent redundancy in the topics!
