I want to produce a podcast and have a list of topics to discuss.
Every topic has a description, an expectation about the answer and a reasoning, why to discuss this topic.

<topic_list>
{{topics}}
</topic_list>

Please tell me which topics feel redundant and might lead to similar answers and make suggestions to consolidate them.
Output for every topic, which original topics has been included into that topics and why you thought those topics
should be consolidated. It is important to have at least 8 topics as output.
